.booklist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Two-column layout */
.dashboard-main {
  height: 85vh;
  display: grid;
  grid-template-columns: 1fr 6fr; /* left 25%, right 75% */
  gap: 10px;
  padding: 20px;
}

/* Profile column */
.profile-section {
  background-color: darkred;
  border-radius: 10px;
  border: 5px solid gray;
  padding: 100px 15px;
  text-align: center;
  line-height: 25px;
  color: whitesmoke
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.profile-pic {
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #0056b3;
}
.cartitem{
  display: flex;
  border: 2px solid red;
  border-radius: 25px;
  padding: 25px;
}

.cartitem h2{
  padding: 20px;
}
/* Content column */
.content-section {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive view for mobile */
@media (max-width: 768px) {
  .dashboard-main {
    grid-template-columns: 1fr;
  }
}
