#cart1{
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
}
.card{
    width: 400px;
    height: 400px;
    background-color: darkred;
    color: white;
    font-size: 15px;
    border: 5px solid gray;
    border-radius: 50px;
    padding: 25px;
    margin: auto;
    text-align: center;
    
}