#cart1{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}
.card{
    width: 350px;
    height: 420px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: 5px solid gray;
    border-radius: 50px;
    padding: 25px;
    margin: auto;
    text-align: center;
    
}