.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkred;
  padding: 12px 24px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.navbar h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: palegreen; /* yellow hover */
  border-bottom: 2px solid #ffc107;
  padding-bottom: 2px;
}

.navbar button {
  background-color: #ffc107;
  color: #0d6efd;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #fff;
  color: #0d6efd;
}

/* Mobile view */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
  }
}
