.card{
    width: 400px;
    height:400px;
    background-color: aqua;
    color: red;
    font-size: large;
    border: 5px solid blue;
    border-radius: 10px;
    padding: 25px;
    margin: auto;
    text-align: center;
}
.booklist{
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-wrap: wrap;
}
.header{
    background-color: black;
    color: white;
    width: 100vw;
    height: 10vh;
    line-height:10vh;
}

.footer{
    background-color: black;
    color: white;
    width: 100vw;
    height: 5vh;
    line-height: 5vh;
}
.container{
    width: 100vw;
    height: 100vh;
}